<%- include('partials/header'); -%>
<h3>Sing up first...</h3>
<button class="btn btn-lg btn-primary btn-block" name="button"><a href="/">please Sign up first</a></button>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
