<%- include('partials/header'); -%>
<h3>Wrong Password...</h3>
<form class="form-signin" action="/singup"  method="post">
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <button class="btn btn-lg btn-primary btn-block" type="submit">please Sign in again</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
